
@{
    ViewBag.Title = "Inicio";
}

<h2>Bienvenidos al Sitio de ADMINISTRACION</h2>
<div>
    <img src="~/Imagenes/portada.jpg"alt="EducacionAvanzada" style="width:950px; height: auto;"/>
    </div>
