
@{
    ViewBag.Title = "Index";
    ViewBag.Profesor = ViewBag.profeId;
}

<h2>Bienvenidos Al Sitio de PROFESORES</h2>
<div>
    <img src="@(ViewBag.adminWebsiteUrl + ViewBag.imagen)" alt="EducacionAvanzada" />
</div>


